body{
    background-color:rgb(24, 42, 86);
}
h3{
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-top: 200px;
}

.main1  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    /* border: 2px solid rgb(255, 250, 250); */
    width: 600px;
    height: 500px;
    margin-left: 500px;
    background-color: white;
    position: relative;
  
}
img{
    width: 350px;
    height: 500px;
    margin-right: 130px;
    margin-top: 5px;
}
#input1{
margin-bottom: 20px;
}


